<% layout('layouts/driver-boilerplate')%>
<link rel="stylesheet" href="/stylesheet/style.css">
     <div class="background-index ">
          <div class="">
               <div class="hero-section heading">
                   <h1>Welcome to RideShare</h1>
                   <p>Get to your destination with ease!</p>
                   <a href="/driver-login" class="btn btn-success">Login</a>
                   <a href="/driver-register" class="btn btn-success">New Driver/Register</a>

                 </div>
            </div>
     </div>