<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheet/style.css">
     <div class="background-index ">
          <div class="">
               <div class="hero-section heading">
                   <h1>Welcome to RideShare</h1>
                   <p>Get to your destination with ease!</p>
                   <a href="/home" class="btn btn-success">Get Started</a>
                   
                   <a href="/driverIndex" class="btn btn-success">For Driver</a>

                 </div>
            </div>
     </div>

